PORT=5000
NODE_ENV=development

DATABASE_URL=postgresql://postgres:password@localhost:5432/mehrgam

CLIENT_ORIGIN=http://localhost:5173

JWT_SECRET=change_this_to_a_long_random_secret
ACCESS_TOKEN_EXPIRES_IN=15m
REFRESH_TOKEN_DAYS=7

NESHAN_SERVICE_API_KEY=service.your_neshan_service_api_key
MAX_VOLUNTEER_MATCH_DISTANCE_METERS=10000
